ANDROID_SDK_ROOT=/opt/android-sdk
ANDROID_HOME=/opt/android-sdk
BUILDER_TEMPLATE_DIR=./template
BUILDER_DATA_DIR=./builder-data
PORT=8080
BUILDER_PORT=8080
BUILDER_MAX_CONCURRENT_BUILDS=1
BUILDER_MAX_PENDING_BUILDS=8
BUILDER_MAX_ICON_BYTES=5242880
BUILDER_JOB_RETENTION_HOURS=168
BUILDER_LOG_PERSIST_EVERY_LINES=20
BUILDER_LOG_PERSIST_INTERVAL_MS=2000
BUILDER_SHARED_SECRET=dsfhgs
